@model List<Octavados.ViewModels.IndexCategoriaVM>

@{
    ViewData["Title"] = "Categorias";
}

<div class='d-flex'>

    <h1>        
        <i class="fa-solid fa-tags"></i>
        @ViewData["Title"]
    </h1>

    <div class='ms-auto'>
        <a asp-action="Criar" class="btn btn-primary">
            <i class="fa-solid fa-plus"></i>
            Nova
        </a>
    </div>

</div>


<hr>

<div class="list-group">

    @foreach (var categoria in Model)
    {
         <a href="@Url.Action("Editar", new { id = categoria.Id })" class="list-group-item list-group-item-action">
            @categoria.Nome
        </a>
    }

</div>