@model Octavados.ViewModels.CriarVendaViewModel


@{
    ViewData["Title"] = "Criar Nova Venda";
}

<div>
    <h2>
        <i class="fa-solid fa-circle-plus"></i>
        @ViewData["Title"]
    </h2>
</div>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Criar" method="post">

    <div class="form-group mb-3">
        <label asp-for="ClienteId" class="form-label">Cliente</label>
        <select asp-for="ClienteId" asp-items="@(ViewData["Clientes"] as SelectList)" class="form-control">
            <option value="">Selecione um Cliente</option>
        </select>
        <span asp-validation-for="ClienteId" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label for="ProdutoId" class="form-label">Produto</label>
        <select asp-for="ProdutosVenda[0].ProdutoId" asp-items="@(ViewData["Produtos"] as SelectList)" class="form-control">
            <option value="">Selecione um Produto</option>
        </select>
        <span asp-validation-for="ProdutosVenda[0].ProdutoId" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label for="Quantidade" class="form-label">Quantidade</label>
        <input asp-for="ProdutosVenda[0].Quantidade" class="form-control" type="number" min="1" />
        <span asp-validation-for="ProdutosVenda[0].Quantidade" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label for="PrecoUnitario" class="form-label">Preço Unitário</label>
        <input asp-for="ProdutosVenda[0].PrecoUnitario" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="ProdutosVenda[0].PrecoUnitario" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label for="Desconto" class="form-label">Desconto</label>
        <input asp-for="ProdutosVenda[0].Desconto" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="ProdutosVenda[0].Desconto" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="DataVenda" class="form-label">Data da Venda</label>
        <input asp-for="DataVenda" class="form-control" type="date" />
        <span asp-validation-for="DataVenda" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="ValorDoFrete" class="form-label">Valor do Frete</label>
        <input asp-for="ValorDoFrete" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="ValorDoFrete" class="text-danger"></span>
    </div>

    <div class="text-end">
        <button type="submit" class="btn btn-primary">
            <i class="fa-solid fa-check"></i> Criar Venda
        </button>
    </div>
</form>


