@{
    ViewData["Title"] = "Octavados";
}

<div class="text-center">
    <h1 class="display-4">Octavados</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<partial name="_Carrousel"/>