@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>Este projeto é apenas um teste ou protótipo pessoal, criado para fins de estudo e demonstração de funcionalidades. Os produtos exibidos não estão disponíveis em estoque, e nenhuma venda é realizada por meio deste sistema. As marcas e produtos apresentados servem unicamente para ilustrar o funcionamento do projeto e não representam uma relação comercial real.</p>
