@model Octavados.ViewModels.MovimentoEstoqueVM

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Detalhes do Último Movimento de Estoque</h4>
        <p><strong>Quantidade Adicionada:</strong> @Model.Quantidade</p>
        <p><strong>Usuário Responsável:</strong> @Model.Usuario</p>
        <p><strong>Data do Movimento:</strong> @Model.DataChegada.ToString("dd/MM/yyyy HH:mm:ss")</p>
    </div>
</div>


<div class="mt-3 text-end">
    <a class="btn btn-secondary" asp-action="Editar" asp-route-id="@Model.ProdutoId">
        <i class="fa-solid fa-arrow-left"></i> Voltar para Edição
    </a>
</div>